:root
{
	--shade: #ececec;
	--accent: #aaa;
	--shadow: #222;
	--small-font: 0.8125em;
	--heading-align: center;
	--container-padding: 8px;
}

/* Containers */

.container
{
	position: relative;
}

#page-container > aside > .container,
#page-container > header > .container,
#page-container > main > .container,
#page-container > footer > .container
{
	padding: var(--container-padding);
}

/* Site Header */

#site-header > .container
{
	display: flex;
	flex-direction: column;
}

#site-header .site-banner
{
	text-align: var(--heading-align);
}

#site-header .site-banner-title,
#site-header .site-banner-subtitle
{
	margin: 0;
}

#site-header .site-banner-title-text,
#site-header .site-banner-subtitle-text
{
	color: inherit;
}

/* Site Footer */

#site-footer > .container
{
	text-align: var(--heading-align);
}

#site-footer .site-attribution > *
{
	display: block;
}

/* Navigation */

nav ul
{
	list-style-type: none;
}

nav .menu,
nav .menu-item
{
	margin: 0;
	padding: 0;
}

nav .menu-item a
{
	font-family: inherit;
}

/* Primary Navigation */

#site-header .search-and-nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1em;
}

#site-header nav.primary
{
	position: relative;
	z-index: 99;
}

#site-header nav.primary .menu-item
{
	display: inline-block;
	position: relative;
	border-radius: 2px;
}

#site-header nav.primary .menu-item a
{
	display: block;
	padding: 0.5em;
	text-align: center;
	white-space: nowrap;
	color: inherit;
}

#site-header nav.primary .sub-menu
{
	display: block;
	position: absolute;
	left: -9999px;
	z-index: 2;
	min-width: 125%;
	margin: 0;
	padding: 0;
	font-size: var(--small-font);
}

#site-header nav.primary .sub-menu .menu-item
{
	width: 100%;
}

#site-header nav.primary .sub-menu .menu-item a
{
	padding: 0 8px;
	text-align: left;
	border-style: none;
}

#site-header nav.primary .menu-item:hover > .sub-menu
{
	left: 0;
}

#site-header nav.primary .sub-menu .sub-menu
{
	font-size: 1em;
}

#site-header nav.primary .sub-menu > .menu-item:hover > .sub-menu
{
	top: 0;
	left: 102%;
}

/* Site Content */

.content-container > .heading
{
	margin-bottom: 1em;
	text-align: var(--heading-align);
}

.main-content
{
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	position: relative;
	word-wrap: break-word;
}

.heading
{
	margin: 0;
}

.post-meta
{
	font-size: var(--small-font);
	line-height: 1.5em;
}

.post-meta .label
{
	display: block;
	font-weight: bold;
	text-transform: capitalize;
}

.post-classification .data
{
	display: inline-flex;
	gap: 0.25em 0.5em;
}

.post-classification .data + .data
{
	margin-left: 0.5em;
}

.post-classification .data a
{
	padding: 4px;
	border-radius: 2px;
	white-space: nowrap;
}

/* Pagination */

.pagination
{
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0;
	text-align: center;
	justify-content: center;
	gap: 2px;
}

.pagination:empty
{
	display: none;
}

.pagination .page-numbers
{
	padding: 8px;
	font-weight: normal;
	background-color: var(--shade);
	color: black;
	border-radius: 2px;
	order: 1;
}

.pagination .page-numbers.current
{
	background-color: var(--accent);
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next
{
	padding-left: 16px;
	padding-left: 16px;
	order: 0;
}
