body
{
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 12pt;
	color: #333;
}

a
{
	text-decoration: none;
	font-family: inherit;
}

h1, h2, h3, h4, h5, h6
{
	margin: 1em 0;
	word-spacing: normal;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.25em;
}

h4, h5, h6
{
	font-size: 1.125em;
}

ul,
ol
{
	margin: 1em 0;
	margin-left: 1em;
	padding: 0;
}

ul
{
	list-style-type: disc;
}

li
{
	margin: 0;
	margin-bottom: .5em;
	line-height: 1.25em;
	list-style-position: outside;
}

figure
{
	margin: 1em;
}

blockquote, q
{
	quotes: "\201c" "\201d" "\2018" "\2019";
}

blockquote
{
	display: block;
	margin: 1em 0;
	padding-left: 1em;
	border-left: 4px solid #ccc;
	clear: left;
}

blockquote:before
{
	content: no-open-quote;
}

blockquote:after
{
	content: no-close-quote;
}

blockquote[cite]:after
{
	display: block;
	content: no-close-quote "\2014" attr(cite);
}

q
{
	font-style: italic;
}

q:before
{
	content: open-quote;
}

q:after
{
	content: close-quote;
}

q[cite]:after
{
	display: inline;
	content: close-quote " (" attr(cite) ")";
}

img
{
	max-width: 100%;
	height: auto;
	line-height: 1;
}

a img
{
	border: 0;
}

hr
{
	border-style: none;
	border-bottom: 1px dotted #ccc;
}

dt
{
	font-weight: bold;
}

dt, dd
{
	margin-top: .25em;
	margin-bottom: .25em;
}

abbr
{
	text-transform: uppercase;
}

abbr[title]
{
	border: 0 none;
}

abbr[title]:after
{
	content: " (" attr(title) ")";
	text-transform: capitalize;
}

acronym[title]:after
{
	content: " [" attr(title) "]";
}

cite
{
	font-style: normal;
}

cite:before
{
	content: " \2014";
}

code
{
	background-color: #ccc;
}

var
{
	border-bottom: 1px dotted;
}

table
{
	border-collapse: collapse;
	margin-bottom: 1em;
}

table, th, td
{
	border: 1px solid #ccc;
}

thead,
tfoot
{
	font-weight: bold;
	background-color: #ccc;
}

th, td
{
	padding: 0.5em;
}

input,
textarea,
button,
.button
{
	padding: 8px;
	border-radius: 2px;
	outline: none;
}

nav
{
	text-transform: lowercase;
	font-variant: small-caps;
}
