#page-container > aside,
#page-container > header,
#page-container > main,
#page-container > footer
{
	width: auto;
}

#page-container > aside > .container,
#page-container > header > .container,
#page-container > main > .container,
#page-container > footer > .container
{
	margin: 0 auto;
}

@media screen and (min-width: 960px)
{
	#page-container > aside > .container,
	#page-container > header > .container,
	#page-container > main > .container,
	#page-container > footer > .container
	{
		width: 90%;
	}
}

@media screen and (min-width: 1280px)
{
	#page-container > aside > .container,
	#page-container > header > .container,
	#page-container > main > .container,
	#page-container > footer > .container
	{
		width: 70%;
	}
}

@media screen and (min-width: 1920px)
{
	#page-container > aside > .container,
	#page-container > header > .container,
	#page-container > main > .container,
	#page-container > footer > .container
	{
		width: 50%;
	}
}
