.main-content
{
	display: flex;
	flex-direction: column;
	row-gap:1em;
}

.main-content header
{
	text-align: var(--heading-align);
}

.main-content .post-excerpt
{
	font-weight: bold;
}

.main-content p
{
	line-height: 1.5em;
}

.main-content li
{
	margin: 0.5em 0;
}

body.error404 .not-found
{
	text-align: center;
}

/* Blog Post */

body.single .post-feature
{
	display: block;
	text-align: center;
}

body.single .post-feature .wp-post-image
{
	width: auto;
	margin: 0;
}

body.single .post-publication
{
	margin: 1em 0;
}
