#respond
{
	margin-top: 1em;
	padding: 1em;
}

#commentlist
{
	margin-top: 1em;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url
{
    display: flex;
    flex-direction: column;
}

#commentform input,
#commentform textarea
{
    flex-basis: 100%;
}
