#respond
{
	padding: 1em;
	margin-top: 1em;
}

#commentlist
{
	margin-top: 1em;
}

.comment-form-author,
.comment-form-email,
.comment-form-url
{
    display: flex;
    flex-wrap: wrap;
}

#commentform input
{
    order: 1;
}

#commentform input::before
{
    display: block;
    width: 100%;
}
